{
  "env": {
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "graphql": false,
    "require": false,
    "module": false,
    "exports": false
  },
  "plugins": ["react"]
}
