.header-global {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;

  @include breakpoint(tablet) {
    display: block;
    float: left;
    width: 17em;
    position: sticky;
    top: 4.5%;
  }
}

.header-global__title {
  font-size: 2em;

  @include breakpoint(25em) {
    font-size: 2.4em;
    margin-top: .2em;
  }

  span {
    display: block;
  }

  span:last-child {
    margin-left: .75em;
    transform: translateY(-5px);
  }
}

.header-global__description {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 1em 0;
  grid-column: 1;
  max-width: 16em;
}

