.page-header {
  padding-right: 3em;
}

.page-header__title {
  //margin: 0;
}

.page-header__subtitle {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: .07em;
}