html {
  color: $text;
  font-size: 0.9em;
  @include breakpoint(38em) {
    font-size: 1em;
    font-size: calc(14px + 6 * ((100vw - 500px) / 1500));
  }
  @include breakpoint(71em) {
    font-size: 1em;
  }
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: $fontBody;
  line-height: 1.5;
}

body {
  background-color: #fff;
}
