.btn-wrap {
  display: flex;
  justify-content: center;
}

button,
.button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.5em 4%;
  text-align: center;
  letter-spacing: 0.04em;
  transition: all 0.2s ease-in-out;

  &--primary {
    background-color: #222;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #333;
      color: #fff;
      box-shadow: 12px 14px 30px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
