h1,
h2,
h3 {
  font-weight: 600;
  margin: 1.5em 0 .5em;
  padding-top: .4em;

  & + p,
  & + ul {
    margin-top: 0;
  }
}

h1 {
  margin: 0 0 .2em;
  padding: 0;
  line-height: 1;
  letter-spacing: -.02em;
  font-size: 3em;

  @include breakpoint(30em) {
    font-size: 4em;
  }

  @include breakpoint(75em) {
    font-size: 5.625em;
  }

}

h2 {
  font-size: 2em;
  line-height: 1.1;
  letter-spacing: -.01em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  letter-spacing: .02em;
}