.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: .8em;
  width: .8em;
  margin-right: .3em;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: absolute;
  bottom: -0.175em;
}
