.content-wrap {
  > *,
  .footer-content {
    max-width: 50rem;

    @include breakpoint(46em) {
      padding-right: 2em;
    }
  }

  .footer-content {
    margin-top: 3em;
  }

  figure {
    max-width: none;
    padding: 0;
  }

  blockquote {
    border-left: 0.25em solid #ddd;
    margin: 1.5em 0;
    font-style: italic;
    position: relative;
    font-size: 1.05em;
    padding-left: 1em;

    em,
    cite,
    .meta {
      font-style: normal;
    }

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
