.wrap {
  max-width: 84em;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  padding: 1em 5%;

  @include breakpoint(tablet) {
    padding: 6% 0 6% 3em;

    @supports(display: grid) {
      display: grid;
      grid-template-columns: 22em 1fr;
      align-items: start;
    }
  }
}




.main-content {

  @include breakpoint(tablet) {
    float: left;
    width: 70%;

    @supports(display: grid) {
      float: none;
      width: auto;
    }
  }
}

.main-content {

  > div > *,
  .footer-content {
    max-width: 50rem;

    @include breakpoint(46em) {
      padding-right: 2em;
    }
  }

  .footer-content {
    margin-top: 3em;
  }

  figure {
    max-width: none;
    padding: 0;
  }

  blockquote {
    border-left: .25em solid #ddd;
    margin: 1.5em 0;
    font-style: italic;
    position: relative;
    font-size: 1.05em;
    padding-left: 1em;

    em,
    cite,
    .meta {
      font-style: normal;
    }

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}