/*
 * Global settings like fonts and colors
 */

// Fonts
$fontBody: 'canada-type-gibson', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Colors
$text: #1d1d1b;
$gray: #9b9b9b;
