// Fonts -------------------------------------------------- */

$fontBody: 'canada-type-gibson', sans-serif;
$fontAlt: 'Meta Serif Pro', sans-serif, serif;

// Colors -------------------------------------------------- */

$text: #1d1d1b;
$gray: #9b9b9b;
