// Fonts -------------------------------------------------- */

$fontBody:   'Gibson', sans-serif;
$fontTitle:  'Gibson', Verdana, sans-serif;
$fontAlt:    sans-serif;

// Colors -------------------------------------------------- */

$text:        #1d1d1b;
$gray:        #9b9b9b;