/*
 * Link style
 */
%resetLinkStyle {
  box-shadow: none;


  &:hover,
  &:focus {
    box-shadow: none;
    color: inherit;
  }
}


/*
 * Clearfix: contain floats
 */

%clearfix:before,
%clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

%clearfix:after {
  clear: both;
}
